<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calm Nature</title>
    <!-- Include Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script> 
</head>

<body class="bg-blue-200 p-4">
    <div class="max-w-screen-md mx-auto bg-white p-4 shadow-md">
        <h1 class="text-2xl font-bold mb-4 text-center">Trees on a Breezy Day</h1>
        <video controls class="mx-auto mb-4" width="640" height="360">
            <source src="https://fzflask5.azureedge.net/fzflask5/Tree_Branches_With_Blue_Sky_Background_0876.mp4" type="Video/mp4"/>
        </video>
    </div>
</body>
</html>